.section-aboutus-1 .row{
    background-image: url(img/aboutus/wave-aboutus-top-mobile.png);
    background-position-y: top;
    background-position-x: center;
    background-size: cover;
    height: 900px;
}
@media (min-width: 576px) {
    .section-aboutus-1 .row{
        height: 1000px;
    }
}
@media (min-width: 768px) {
    .section-aboutus-1 .row{
        background-image: url(img/aboutus/wave-aboutus-top-desktop.png);
        height: 800px;
        background-position-x: left;
    }
}
@media (min-width: 1400px) {
    .section-aboutus-1 .row{
        background-image: url(img/aboutus/wave-aboutus-top-desktop-xl.png);
        height: 800px;
        background-position-x: right;
    }
}



.sl-team-container{
    background-image: url(img/aboutus/Team.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1700px;
    height: 70vh;
    width: 100%;
}
  







.sl-island-row{
    margin: 512px 256px 512px 256px;
}
.sl-island-row:nth-child(even){
    justify-content: end;
}


.sl-island-card{
    width: 342px;
    
}
.sl-islands{
    left: 50%;
    top: 50%;  
}
.sl-island{
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-43%);
}

.sl-islands .sl-island:nth-child(1){
    z-index: -4;
}
.sl-islands .sl-island:nth-child(2){
    z-index: -3;
}
.sl-islands .sl-island:nth-child(3){
    z-index: -2;
}
.sl-islands .sl-island:nth-child(4){
    z-index: -1;
}






.spazio{
    width: 100%;
    height: 400px;
}



