.container{
  --bs-gutter-x: 1rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
@media (min-width: 576px) {
  .container{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* Modal CSS */
.sl-btn-filter{
  height: auto;
  border-radius: 19px;
  padding: 10px 16px;
  box-sizing: border-box;
}
  @media (min-width: 576px) {
  .sl-btn-filter{
    border-radius: 24px;
    padding: 12px 20px;
  }
  .sl-btn-filter:hover{
    box-shadow: 4px 4px 0px 0px var(--black-banana);
    border: 2px solid var(--black-banana);
    transform: translateX(4px);
    transform: translatey(-4px);
    transition: all 0.40s cubic-bezier(.48,.47,.68,.67);
  }
}
.modal{
  --bs-modal-header-padding: 48px 48px 24px 48px;
  --bs-modal-width: 560px;
  --bs-modal-margin: 0px 0px 100px 0px;
  --bs-modal-header-border-color: none;
  --bs-modal-header-border-width: none;
  --bs-modal-title-line-height: 100%;
  --bs-modal-padding: 184px 48px 24px 48px;
  --bs-modal-color: var(--black-strawberry);
  --bs-modal-bg: var(--white-avocado);
  --bs-modal-border-color: var(--black-banana);
  --bs-modal-border-width: 2px;
  --bs-modal-border-radius: 12px;
  --bs-modal-inner-border-radius: 12px;
  --bs-modal-footer-gap: 8px;
  --bs-modal-footer-bg: var(--white-avocado);
  --bs-modal-footer-border-color: none;
  --bs-modal-footer-border-width: none;
}
.modal-dialog{
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: 96vh !important;
}
.modal-fullscreen .modal-content{
  border-radius: 12px;
  border: 2px solid var(--black-banana);
}
.modal-backdrop{
  --bs-backdrop-bg: var(--black-strawberry);
  --bs-backdrop-opacity: 20%;
}
.filter-modal{
  height: 44px;
  width: 140px;
  border: 1px solid var(--black-banana);
  border-radius: 12px;
  color: var(--black-strawberry);
  background-color: var(--white-avocado);
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .filter-modal{
    height: 48px;
  }
  .filter-modal:hover{
    border: 2px solid var(--black-banana);
  }
}
.filter-modal.active, .filter-modal::after{
  color: var(--white-avocado);
  background-color: var(--black-banana);
}
.circle-filter{
  height: 24px;
  width: 24px;
  border-radius: 200%;
  border: 1px solid var(--black-banana);
  box-sizing: border-box;
  margin-right: 10px;
}
.circle-filter.focus, .circle-filter::after{
  border: 1px solid var(--white-avocado);
}
.icon-filter{
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

/* color filter */
#sl-cf-1 {
  background-color: #FF9726;
}
#sl-cf-2 {
  background-color: #FFA4F7;
}
#sl-cf-3 {
  background-color: #03964A;
}
#sl-cf-4 {
  background-color: #ABA5F7;
}
#sl-cf-5 {
  background-color: #FFED35;
}
#sl-cf-6 {
  background-color: #9F498B;
}


/* card-space */
.card-space {
  /* gap: 1rem; */
  padding-top: 3.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .card-space {
    /* gap: 1.5rem; */
    padding-top: 5rem;
  }
}
.card{
  --bs-card-bg: var(--white-avocado);
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--black-banana);
  --bs-card-border-radius: 12px;
}
.card-emporium{
  /* width: 171px; */
  height: 204px;
}
@media (min-width: 576px) {
  .card-emporium{
    /* width: 300px; */
    height: 349px;
  }
  .card-emporium:hover {
    background-image: none;
    background-color: var(--black-strawberry) !important;
    transform:scale(1.2);
    color: var(--white-avocado);
    z-index: 2;
  }
}
.card-img{
  width: auto;
  height: 114px;
}
@media (min-width: 576px) {
  .card-img{
    height: 173px;
  }
  .card-button{
    width: 100%;
    padding: 0 25px;
    justify-content: end !important;
  }
  .card-btn {
    height: 54px;
    width: 54px;
    border-radius: 6px;
    border: 1px solid var(--black-banana);
    background-color: var(--yellow-grape);
  }
}

