/* sfondo stelle hero */
.sx-stars{
    background-image: url('img/home/Stars/sx-stars-hero-mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
}
@media (min-width: 576px) {
    .sx-stars{
        background-image: url('img/home/Stars/sx-stars-hero-tablet.png');
    }
}
@media (min-width: 992px) {
    .sx-stars{
        background-image: url('img/home/Stars/sx-stars-hero-desktop.png');
    }
}

.dx-stars{
    background-image: url('img/home/Stars/dx-stars-hero-mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    width: 15%;
}
@media (min-width: 576px) {
    .dx-stars{
        background-image: url('img/home/Stars/dx-stars-hero-tablet.png');
    }
}
@media (min-width: 992px) {
    .dx-stars{
        background-image: url('img/home/Stars/dx-stars-hero-desktop.png');
    }
}
.hero-block{
    width: 70%;
}


.section-welcome h1{
   /* padding-top: 200px; mettendo la distanza più o meno come su figma, nel mio pc non rimane più al centro dello schermo il titolo*/
    padding-bottom: 54px;
    color: var(--gray-fig);
    text-align: center;
}


.wave-home-1{
    width: 100%;
    height: 272px;
    background-image: url(img/home/wave-home-1-mobile.png);
    background-position: center;
    background-size: cover;
}
@media (min-width: 576px) {
    .wave-home-1{
        width: 100%;
        height: 500px;
        background-image: url(img/home/wave-home-1-desktop.png);
        background-position: center;
        background-size: cover;
    }
}


/* section what's new */
.section-whats-new{
   padding: 5rem 0 !important;
}
@media (min-width: 992px) {
    .whats-new-text{
        max-width: 600px;
    }
}
.sl-card-collab{
   width: fit-content; 
}
.sl-card-collab img{
    width: 145px;
    height: 204px;
}
@media (min-width: 576px) {
    .sl-card-collab img{
        width: 180px;
        height: 230px;
    }
}
.sl-carousel-home{
    overflow: hidden;
    padding-bottom: 4px;
}
.carousel-inner{
    pointer-events: none;
}

/*button carousel*/
.sl-button-container{
    transform: translatex(50%);
}
.sl-button-container-small {
    position: absolute;
    display: flex !important;
    align-content: center;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}
.sl-button-container .sl-card-collab{
    opacity: 0;
}
.sl-button-container .sl-btn-carousel-l, .sl-button-container .sl-btn-carousel-r{
    position: static;
    opacity: 1;
    padding: 12px 12px 12px 12px;
    border: 2px solid var(--bs-border-color);
    background-color: var(--orange-kiwi);
    height: fit-content;
    width: fit-content;
}
.sl-button-container .sl-btn-carousel-l{
    border-radius: 50% 0 0 50%;
    transform: translateX(2px);
}
.sl-button-container .sl-btn-carousel-r{
    border-radius: 0 50% 50% 0;
}
/*sistemare transition*/
.sl-button-container .sl-button-container-small:hover .sl-btn-carousel-l{
    transition: translate 1s;
    border-radius: 50%;
    padding: 12px 12px 12px 12px;
    transform: translateX(-8px);
}
.sl-button-container .sl-button-container-small:hover .sl-btn-carousel-r{
    transition: translate 1s;
    border-radius: 50%;
    padding: 12px 12px 12px 12px;
    transform: translateX(+9px);
}
/* end button carousel*/

/*end section what's new*/




/* section our socks */
.section-our-socks {
    padding-top: 52px;
    padding-bottom: 52px;
    background-image: url(img/home/Bacgkround-home-green-yellow.png);
    background-size: cover;
    background-position: center;
    
}
.sl-our-socks-container{
    white-space: nowrap;
    overflow: hidden;
}

.sl-socks-slide{
    display: inline-block;
    overflow: hidden;
    animation: 12s slide infinite linear; 
}
.sl-card-slider img{
    padding-top: 32px;
    width: 130px;
    height: 174px;
}
.sl-card-slider{
    display: inline;
    width: fit-content; 
    background-image: url('img/home/crateri_arancio_mobile.png');
    background-size: cover;
    margin: 0 32px;
    padding: 48px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}




/*
.card-socks{
    height: 350px;
    width: 308px;
    background-image: url('img/home/crateri_arancio_mobile.png');
    background-size: cover; 
}

@media (min-width: 576px) {
    .card-socks{
        height: 412px;
        width: 327px;
        margin-bottom: 2.5rem;

        margin-left: 43px;
        background-image: url('img/home/crateri_arancio.png');
        background-size: cover;
    }
}
.card-socks h3{
    padding-bottom: 2rem;
}
@media (min-width: 576px) {
    .card-socks h3{
        padding-bottom: 2.5rem;
    }
}
.card-socks img{
    width: 145px;
    height: 204px;
}
@media (min-width: 576px) {
    .card-socks img{
        width: auto;
        height: auto;
    }
}

END SECTION OUR SOCKS   
*/

/*start section create socks*/
.section-create{
    padding-top: 6rem;
    padding-bottom: 6rem;
    
}
.sl-create-nav-tab{
    width: fit-content;
}
.sl-create-nav-tab>img{
    width: 207px;
    height: 155px;
    transform: translateX(50%) translateY(50%);
};
.sl-create-nav-tab .nav{
    width: fit-content;
    border-bottom: 1px solid var(--black-banana);
    border-radius: 0 0 0 8px; 
}
@media (min-width: 576px) {
    .sl-create-nav-tab .nav{
        border-radius: 16px 16px 0 0;  
    } 
}
.sl-create-nav-tab .nav .nav-link{
    border-left: 1px solid var(--black-banana);
    border-bottom: 1px solid var(--black-banana);
    border-top: 1px solid var(--black-banana);
    border-right: 1px solid var(--black-banana);
    border-radius: 8px 0px 0px 8px;
    height: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.sl-create-nav-tab .nav .nav-link:last-child{
    border-bottom: 0;
}
.sl-create-nav-tab .nav .nav-link:last-child:hover{
    border-bottom: 0;
}
@media (min-width: 576px) {
    .sl-create-nav-tab .nav .nav-link{
        border-radius: 16px 16px 0 0;
        width: fit-content;
        border-right: 1px solid var(--black-banana);
        border-bottom: 0px solid var(--black-banana);
    } 
}
.sl-create-nav-tab .nav .active{
    background-color: var(--orange-kiwi);
    border-width: 1px;
    color: var(--black-strawberry) !important;
    border-right: 1px solid var(--orange-kiwi); 
} 
@media (min-width: 576px) {
    .sl-create-nav-tab .nav .active{
        border-radius: 16px 16px 0 0;
        border-bottom: solid 1px var(--orange-kiwi);
        border-right: solid 1px var(--black-banana);
    } 
}
.sl-create-nav-tab .nav .nav-item{
    width: 100%;
    flex-grow: 1;
}
@media (min-width: 576px) {
    .sl-create-nav-tab .nav .nav-item{
        width: fit-content;
    } 
}
.sl-create-nav-tab .nav .nav-link:hover{
    border-left: 1px solid var(--black-banana);
    border-top: 1px solid var(--black-banana);
    border-bottom: 1px solid var(--black-banana);
    background-color: var(--orange-kiwi);
    color: var(--black-strawberry);
}
@media (min-width: 576px) {
    .sl-create-nav-tab .nav .nav-link:hover{
        border-right: 1px solid var(--black-banana);
        border-bottom: 0px solid var(--orange-kiwi);
    }
}
.sl-create-nav-tab .tab-content{
    width: 100%;
    border-top: 1px solid var(--black-banana);
    border-right: 1px solid var(--black-banana);
    border-bottom: 1px solid var(--black-banana);
    border-radius: 0px 8px 8px 0px;
    z-index: 1;
}
@media (min-width: 576px) {
    .sl-create-nav-tab .tab-content{
        border-left: 1px solid var(--black-banana);
        border-top: 0px solid var(--black-banana);
        border-radius: 0px 0px 8px 8px;
    }
}
@media (min-width: 576px) {
    .sl-create-nav-tab .tab-content{
        border-radius: 0px 0px 16px 16px;
    } 
}
.sl-create-nav-tab .tab-content .tab-pane{
    width: fit-content;
}
.sl-create-nav-tab .tab-content .active{
    display: flex;
}
.sl-create-nav-tab .tab-content img{
    width: 48px;
    height: 80px; 
}
@media (min-width: 576px) {
    .sl-create-nav-tab .tab-content img{
        width: 118px;
        height: 195px; 
    } 
}
.sl-create-nav-tab .tab-content h4{
    width: 100%;
    color: var(--black-strawberry);
}
@media (min-width: 576px) {
    .sl-create-nav-tab .tab-content h4{
        width: 362px;
    }
}
.sl-create-nav-tab .tab-content p{
    width: 100%;
    color: var(--black-strawberry);
}
@media (min-width: 576px) {
    .sl-create-nav-tab .tab-content p{
        width: 362px;
    }
}

/*end section create socks*/

/* section resocks */
.section-resocks .row{
    padding-top: 200px;
    padding-bottom: 100px;
}
.wave-home-2{
    width: 100%;
    height: 310px;
    background-image: url(img/home/wave-home-2-mobile.png);
    background-position: top;
    background-size: cover;
}
@media (min-width: 576px) {
    .section-resocks .row{
        padding-top: 400px;
        padding-bottom: 120px;
    }
    .wave-home-2{
        height: 340px;
        background-image: url(img/home/wave-home-2-lg.png);
        background-position-y: top;
        background-position-x: left;
    }
}
@media (min-width: 992px) {
    .wave-home-2{
        height: 792px;
        background-image: url(img/home/wave-home-2-desktop.png);
        background-position: top;
    }
    .section-resocks .row{
        padding-top: 340px;
        padding-bottom: 120px;
    }
}


