.b-emporium .container{
  --bs-gutter-x: 1rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
@media (min-width: 576px) {
  .b-emporium .container{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.b-emporium .wave-emporioum {
  width: 100%;
  height: 272px;
  background-image: url(img/emporium/wave-emporioum-mobile.png);
  background-position: center;
  background-size: cover;
  margin-top: -40px;
}
@media (min-width: 768px) {
  .b-emporium .wave-emporioum {
      width: 100%;
      height: 500px;
      background-image: url(img/emporium/wave-emporioum-desktop.png);
      background-position-y: center;
      background-size: cover;
      margin-top: -120px;
  }
}

/* Modal CSS */
.b-emporium .sl-btn-filter{
  height: auto;
  border: 1px solid var(--black-banana);
  border-radius: 19px;
  padding: 10px 16px;
  box-sizing: border-box;
}
  @media (min-width: 576px) {
    .b-emporium .sl-btn-filter{
    border-radius: 24px;
    border: 2px solid var(--black-banana);
    padding: 12px 20px;
  }
  .b-emporium .sl-btn-filter:hover{
    box-shadow: 4px 4px 0px 0px var(--black-banana);
    border: 2px solid var(--black-banana);
    transform: translateX(4px);
    transform: translatey(-4px);
    transition: all 0.40s cubic-bezier(.48,.47,.68,.67);
  }
}

.b-emporium .filter-modal{
  height: 44px;
  width: 156px;
  border: 1px solid var(--black-banana);
  border-radius: 12px;
  color: var(--black-strawberry);
  background-color: var(--white-avocado);
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .b-emporium .filter-modal{
    width: 160px;
    height: 48px;
  }
  .b-emporium .filter-modal:hover{
    border: 2px solid var(--black-banana);
  }
}
.b-emporium .filter-modal-active{
  color: var(--white-avocado);
  background-color: var(--black-strawberry);
}
.b-emporium .circle-filter{
  height: 24px;
  width: 24px;
  border-radius: 200%;
  border: 1px solid var(--black-banana);
  box-sizing: border-box;
  margin-right: 10px;
}
.b-emporium .circle-filter-active{
  border: 1px solid var(--white-avocado);
}
.b-emporium .icon-filter{
  height: 24px;
  width: 24px;
  margin-right: 10px;
}
.b-emporium .icon-filter-active{
  filter: brightness(0) saturate(100%) invert(84%) sepia(90%) saturate(96%) hue-rotate(307deg) brightness(111%) contrast(96%);
}

/* card-space */
.b-emporium .card-space {
  padding-top: 3.5rem;
  gap: 1rem;
  padding-left: 12px;
  padding-left: 12px;
}
@media (min-width: 576px) {
  .b-emporium .card-space {
    padding-top: 5rem;
    gap: 42px;
    padding-left: 0px;
    padding-left: 0px;
  }
}
.b-emporium .card-emporium{
  height: 204px;
  position: relative;
  background-color: var(--white-avocado);
  border: 1px solid var(--black-banana);
  border-radius: 12px;
  transition: transform 0.3s;
}
@media (min-width: 576px) {
  .b-emporium .card-emporium{
    height: 349px;
  }
  .b-emporium .card-emporium-hover:hover {
    background-image: none;
    background-color: var(--black-strawberry) !important;
    transform:scale(1.2);
    color: var(--white-avocado);
    z-index: 2;
    transition: transform 0.3s;
  }
}
.b-emporium .card-img{
  width: auto;
  height: 114px;
}
@media (min-width: 576px) {
  .b-emporium .card-img{
    height: 173px;
  }
  .b-emporium .card-button-external{
    width: 100%;
    padding: 0 25px;
  }
  .b-emporium .card-button{
    width: auto;
  }
  .b-emporium .cart-btn {
    height: 54px;
    width: 54px;
    border-radius: 6px;
    border: 1px solid var(--black-banana);
    background-color: var(--yellow-grape);
  }
}
.b-emporium .card-soldout{
  background-color: rgba(220, 220, 224, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.b-emporium .text-soldout{
  transform: rotate(-45deg);
  text-shadow: 2px 2px var(--black-banana);
  color: var(--orange-kiwi);
}
.b-emporium .card-link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


