.external-black-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--black-strawberry);
    z-index: 0;
}
.black-box{
    gap: 7.25rem;
    padding-top: 100px;
    padding-bottom: 80px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
@media (min-width: 576px) {
    .black-box{
        padding-top: 160px;
        padding-bottom: 100px;
        z-index: 1;
        height: 100vh;
    }
}

.black-box img{
    height: 30vh;
    /* width: 202px; */
}
@media (min-width: 576px) {
    .black-box img{
        height: 70vh;
        /* width: 359px; */
    }
}
.white-box{
    padding: 40px 16px 184px 16px;
}
@media (min-width: 576px) {
    .white-box{
        padding: 184px 82px;
    }
}
.sl-btn-group{
    width: 100%;
    padding-top: 32px;
}
@media (min-width: 576px) {
    .sl-btn-group{
        padding-top: 40px;
    }
}
.foot-type{
    width: 100%;
    background-color: var(--white-avocado);
    border-radius: 12px 12px 0px 0px;
    border: 1px solid var(--black-banana);
    position: relative;
    padding: 15px 16px;
}
@media (min-width: 576px) {
    .foot-type{
        width: 50%;
        border-radius: 12px 0px 0px 12px;
    }
}

/* Quantity selector */
.quantity{
    width: 100%;
    height: 48px;
    background-color: var(--white-avocado);
    border-radius: 0px 0px 8px 8px;
    border-top: 0px;
    border-right: 1px solid var(--black-banana);
    border-left: 1px solid var(--black-banana);
    border-bottom: 1px solid var(--black-banana);
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 24px;
    overflow: hidden;
}  
@media (min-width: 576px) {
    .quantity{
        width: 50%;
        height: auto;
        border-radius: 0px 12px 12px 0px;
        border-top: 1px solid var(--black-banana);
        border-right: 1px solid var(--black-banana);
        border-left: 0px;
        border-bottom: 1px solid var(--black-banana);
        justify-content: space-between;
        padding-right: 16px;
        padding-left: 16px;
    }
}
.quantity button {
    background-color: transparent;
    color: var(--black-strawberry);
    border: none;
    cursor: pointer;
    height: auto;
    text-align: center;
}  
.input-box {
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
}

/* Hide the number input spin buttons */
.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-box[type="number"] {
    appearance: textfield;
}
  
/* Accordion */
.accordion {
    --bs-accordion-bg: var(--liliac-tangerine);
    --bs-accordion-color: var(--black-strawberry);
    --bs-accordion-active-color: var(--black-strawberry);
    --bs-accordion-btn-color: var(--black-strawberry);
    --bs-accordion-active-bg: var(--liliac-tangerine);
    --bs-accordion-btn-active-bg: var(--liliac-tangerine);
    --bs-accordion-btn-bg: var(--white-avocado);
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-border-color: var(--black-banana);
    --bs-accordion-border-width: 1px;
    --bs-accordion-border-radius: 8px;
    --bs-accordion-inner-border-radius: 8px;
    --bs-accordion-btn-padding-x: 16px;
    --bs-accordion-btn-padding-y: 12px;
    --bs-accordion-body-padding-x: 16px;
    --bs-accordion-body-padding-y: 8px 20px;
}
@media (min-width: 576px) {
    .accordion{
        --bs-accordion-btn-padding-x: 24px;
        --bs-accordion-btn-padding-y: 12px;
        --bs-accordion-body-padding-x: 24px;
        --bs-accordion-body-padding-y: 12px 28px;
    }
}
.accordion-button{
    font-size: 1.125rem;
    font-weight: 500;
}
@media (min-width: 576px) {
    .accordion-button{
        font-size: 1.25rem;
    }
}
.discover-also{
    position: relative;
    z-index: 2;
    padding-top: 11.75rem;
    background-image: url(img/singleproduct/SfondoColorato.svg);
    background-size: cover;
    background-position-y: top;
}

.z-index-single-product{
    z-index: 6;
    position: relative;
}

/*slider discover more*/
.sl-key-feature-container{
    white-space: nowrap;
    overflow: hidden;
}
/* quando si uniscono css considerare che qui .sl-key-feature-slide ha anche padding top e bottom */
.sl-key-feature-slide{
    width: fit-content;
    display: inline-block;
    animation: 12s slide infinite linear;
    padding-top: 4rem;
    padding-bottom: 17.25rem;
}
.sl-card-key-feature{
    width: fit-content;
    padding: 44px 60px 44px 60px ;
    flex-shrink: 0;
}
@media (min-width: 576px) {
    .sl-card-key-feature{
        padding: 56px 76px 56px 76px ;
    }
}
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.card-emporium{
height: 204px;
width: 171px;
position: relative;
background-color: var(--white-avocado);
border: 1px solid var(--black-banana);
border-radius: 12px;
}
@media (min-width: 576px) {
    .card-emporium{
        height: 349px;
        width: 300px;
    }
}
.card-img{
width: auto;
height: 114px;
}
@media (min-width: 576px) {
    .card-img{
        height: 173px;
    }
}
.card-soldout{
background-color: rgba(220, 220, 224, 0.6);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 12px;
}
.text-soldout{
transform: rotate(-45deg);
text-shadow: 2px 2px var(--black-banana);
color: var(--orange-kiwi);
}
.card-link{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
