.section-sock {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.section-filters .sl-btn-static {
    display: flex;
    width: 358px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid var(--black-banana);
    background-color: var(--orange-kiwi);
    text-decoration: none;
}

.section-filters .sl-btn-static:hover {
    color: var(--black-banana);
}

.section-filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter {
    width: 292px;
    height: 194px;
    background-color: var(--gray-fig);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1.5px solid var(--black-banana);
    border-radius: 12px;
}

.color-container {
    max-width: 252px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 16px;
}
.color {
    width: 48px;
    height: 48px;
    border: 0.5px solid var(--black-banana);
    border-radius: 6px;
}

.color-1 {
    background-color: #FF9726;
}

.color-2 {
    background-color: #FFA4F7;
}

.color-3 {
    background-color: #03964A;
}

.color-4 {
    background-color: #ABA5F7;
}

.color-5 {
    background-color: #FFED35;
}

.color-6 {
    background-color: #9F498B;
}

.color-7 {
    background-color: #AD9BCB;
}

.color-8 {
    background-color: #F67231;
}

@media (min-width: 992px) {
    .section-lab-container {
        display: flex;
    }

    .section-sock {
        width: 50%;
        height: 823px;
    }
    
    .section-sock h1 {
        padding-top: 88px;
        padding-bottom: 88px;
        font-family: 'brice';
    }

    .title-left {
        display: none;
    }

    .title-right {
        display: inline-block;
        font-family: 'Brice';
        padding-top: 88px;
        padding-bottom: 88px;
        align-self: flex-start;
    }
    
    .small-size {
        font-size: 40px;
    }

    .section-filters .sl-btn-static {
        display: flex;
        width: 104px;
        padding: 16px 32px;
        justify-content: center;
        align-self: flex-end;
        gap: 10px;
        border-radius: 12px;
        border: 1px solid var(--black-banana);
        background-color: var(--orange-kiwi);
        text-decoration: none;
    }
    
    .section-filters .sl-btn-static:hover {
        color: var(--black-banana);
    }
    
    .section-filters {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
    }
    
    .filter {
        width: 348px;
        height: 250px;
        background-color: var(--gray-fig);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 16px;
        padding-bottom: 16px;
        margin-bottom: 150px;
        border: 1.5px solid var(--black-banana);
        border-radius: 12px;
    }
    
    .color-container {
        max-width: 300px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding-top: 16px;
    }

    .color {
        width: 60px;
        height: 60px;
        border: 0.5px solid var(--black-banana);
        border-radius: 12px;
    }
    
}