/*per cose generali che sono valide su tutte le pagine*/

:root {
    /* Color styles */
    --gray-fig: #ECEBE9;
    --black-banana: #000000;
    --black-strawberry: #2E2D33;
    --white-avocado: #FAF9F6;
    --liliac-tangerine: #DAC4F7;
    --yellow-grape: #F8D047;
    --green-peach: #0BA85B;
    --orange-kiwi: #FD8040;

    --dug-black: #39383F;
    --dug-gray: #9891A1;

    --bamp-w-grigino-chiaro: #E4E4E7;
    --bamp-w-grigio-titolo: #DCDCE0;
    --bamp-w-grigio-medio: #C5C4CB;
    --bamp-w-grigio-scuro: #6C6A78;
    --bamp-w-grigio-scuro-card: #1D1C22;

    /*bootstrap customized*/
    --bs-border-color: var(--black-banana) !important;
    --bs-body-color: var(--black-strawberry) !important;
    --bs-link-color-rgb: var(--black-strawberry) !important;

    /*border*/
    /*--sl-border-radius-075: 0.75rem;*/
}

/* background */
.sl-bg-avocado{
    background-color: var(--white-avocado);
}

.sl-bg-strawberry {
    background-color: var(--black-strawberry);
}

.sl-bg-tangerine {
    background-color: var(--liliac-tangerine);
}

.sl-color-avocado{
    color: var(--white-avocado);
}
.sl-color-banana{
    color: var(--black-banana);
}

/* Sizes customized */
.pb-6 {
  padding-bottom: 2.5rem !important;  /* 40px */
}
.px-6{
    padding-right: 2.5rem !important;  /* 40px */
    padding-left: 2.5rem !important;  /* 40px */
}

.mb-6 {
    margin-bottom: 2.5rem !important;  /* 40px */
  }

.ml-7 {
    margin-left: 4.75rem !important;  /* 76px */
  }

.p-8 {
padding: 5rem 11.875rem !important;  /* 80px e 190px */
}

.pb-9{
    padding-bottom: 2rem !important;  /* 32px */
}

.pt-9{
    padding-top: 2rem !important;  /* 32px */
}
.pl-10{
    padding-left: 5.125rem !important;  /* 82px */
}

/*questo rounded sarebbe slo per il border radius, per il bordo dovremmo usare border già di bootstrap e farne uno tipo border-2 per 2 px
Dobbiamo rivalutare il fatto di non creare misure ad hoc, ma sistemare piuttosto figma
Quindi mettiamo border radius 16px per desktop, 8px per mobile*/
/*.rounded-075-1{
    border-radius: var(--sl-border-radius-075) !important;
    border: 1px solid var(--black-banana) !important;
}
.rounded-075-2{
    border-radius: var(--sl-border-radius-075) !important;
    border: 2px solid var(--black-banana) !important;
}*/

.border-2 {
    border: 2px solid var(--black-banana);
}

.sl-mt-first-div{
    margin-top: 64px;
}
@media (min-width: 576px) {
    .sl-mt-first-div{
        margin-top: 84px;
    }
}

/*remove bootstrap default padding right left*/
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}


/*inserimento font Brice*/
@font-face{
    font-family: Brice;
    src: url(font/brice_font/Brice-Black.ttf);
}


/*font*/

/*h1*/
.text-style-h1 {
     font-size: 2.5rem;
     font-family: Brice, serif;
     font-weight: 900;
     font-style:normal;
     line-height: 100%;
     text-decoration: none;
     text-transform: uppercase;
     margin: 0;
 }
@media (min-width: 576px) {
    .text-style-h1 {
        font-size: 3.5rem;
        font-family: Brice, serif;
        font-weight: 900;
        font-style: normal;
        line-height: 100%;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0;
    }
}

/*h2*/
.text-style-h2 {
    font-size: 2rem;
    font-family: Brice, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 0 24px 0;
}
@media (min-width: 576px) {
    .text-style-h2 {
        font-size: 2.5rem;
        font-family: Brice, sans-serif;
        font-weight: 700;
        font-style: normal;
        line-height: 100%;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 0 32px 0;
    }
}

/*h3*/
.text-style-h3 {
    font-size: 1.5rem;
    font-family: "Space Grotesk";
    font-weight: 700;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: none;
    margin: 0;
}
@media (min-width: 576px) {
    .text-style-h3 {
        font-size: 2rem;
        font-family: "Space Grotesk";
        font-weight: 700;
        font-style: normal;
        line-height: 100%;
        text-decoration: none;
        text-transform: none;
        margin: 0;
    }
}

/*h4*/
.text-style-h4 {
    font-size: 1.25rem;
    font-family: "Space Grotesk";
    font-weight: 700;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: none;
    margin: 0 0 16px 0;
}
@media (min-width: 576px) {
    .text-style-h4 {
        font-size: 1.5rem;
        font-family: "Space Grotesk";
        font-weight: 700;
        font-style: normal;
        line-height: 24px;
        text-decoration: none;
        text-transform: none;
        margin: 0 0 16px 0;
    }
}

/*h5*/
.text-style-h5 {
    font-size: 1rem;
    font-family: "Space Grotesk";
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: none;
    margin: 0;
}
@media (min-width: 576px) {
    .text-style-h5 {
        font-size: 1.125rem;
        font-family: "Space Grotesk";
        font-weight: 500;
        font-style: normal;
        line-height: 125%;
        text-decoration: none;
        text-transform: none;
        margin: 0;
    }
}

/*h5-regular*/
.text-style-h5-regular {
    font-size: 1rem;
    font-family: "Space Grotesk";
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: none;
    margin: 0;
}
@media (min-width: 576px) {
    .text-style-h5-regular {
        font-size: 1.125rem;
        font-family: "Space Grotesk";
        font-weight: 400;
        font-style: normal;
        line-height: 125%;
        text-decoration: none;
        text-transform: none;
        margin: 0;
    }
}

/*body-copy*/
.text-style-body-copy {
    font-size: 1rem;
    font-family: "Space Grotesk";
    font-weight: 400;
    font-style: normal;
    line-height: 110%;
    text-decoration: none;
    text-transform: none;
    margin: 0;
    + p {
        margin-top: 6px;
    }
}
@media (min-width: 576px) {
    .text-style-body-copy {
        font-size: 1.125rem;
        font-family: "Space Grotesk";
        font-weight: 400;
        font-style: normal;
        line-height: 125%;
        text-decoration: none;
        text-transform: none;
        margin: 0;
        + p {
            margin-top: 8px;
        }
    }
}

/*body-copy-small*/
.text-style-body-copy-small {
    font-size: 0.875rem;
    font-family: "Space Grotesk";
    font-weight: 400;
    font-style: normal;
    line-height: 110%;
    text-decoration: none;
    text-transform: none;
}
@media (min-width: 576px) {
    .text-style-body-copy-small {
        font-size: 1rem;
        font-family: "Space Grotesk";
        font-weight: 400;
        font-style: normal;
        line-height: 125%;
        text-decoration: none;
        text-transform: none;
    }
}

/*button*/
.text-style-button {
    font-size: 0.875rem;
    font-family: "Space Grotesk";
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: none;
}
@media (min-width: 576px) {
    .text-style-button {
        font-size: 1.25rem;
        font-family: "Space Grotesk";
        font-weight: 400;
        font-style: normal;
        line-height: 100%;
        text-decoration: none;
        text-transform: none;
    }
}

/*header-footer*/
.text-style-header-footer {
    font-size: 1.125rem;
    font-family: "Space Grotesk";
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: none;
}
@media (min-width: 576px) {
    .text-style-header-footer {
        font-size: 1.25rem;
        font-family: "Space Grotesk";
        font-weight: 500;
        font-style: normal;
        line-height: 100%;
        text-decoration: none;
        text-transform: none;
    }
}

/*black and white text styles*/
/*h1 home*/
.text-style-bw-h1-home {
    font-size: 3rem;
    font-family: Good Times;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: uppercase;
}
@media (min-width: 576px) {
    .text-style-bw-h1-home {
        font-size: 6rem;
        font-family: Good Times;
        font-weight: 400;
        font-style: normal;
        line-height: 100%;
        text-decoration: none;
        text-transform: uppercase;
    }
}

/*h1*/
.text-style-bw-h1 {
    font-size: 2.5rem;
    font-family: Good Times;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: uppercase;
}
@media (min-width: 576px) {
    .text-style-bw-h1 {
        font-size: 3.5rem;
        font-family: Good Times;
        font-weight: 400;
        font-style: normal;
        line-height: 100%;
        text-decoration: none;
        text-transform: uppercase;
    }
}

/*h2*/
.text-style-bw-h2 {
    font-size: 1.125rem;
    font-family: Good Times;
    font-weight: 400;
    font-style: normal;
    line-height: 105%;
    text-decoration: none;
    text-transform: none;
    text-align: left;
}
@media (min-width: 576px) {
    .text-style-bw-h2 {
        font-size: 2.5rem;
        font-family: Good Times;
        font-weight: 400;
        font-style: normal;
        line-height: 100%;
        text-decoration: none;
        text-transform: uppercase;
        text-align: left;
    }
}

/*h3*/
.text-style-bw-h3 {
    font-size: 1.5rem;
    font-family: Good Times;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: uppercase;
}
@media (min-width: 576px) {
    .text-style-bw-h3 {
        font-size: 2rem;
        font-family: Good Times;
        font-weight: 400;
        font-style: normal;
        line-height: 100%;
        text-decoration: none;
        text-transform: none;
    }
}

/*altri non ancora usati e che non so se si useranno*/

.text-style-desktop-titolo-tendina {
    font-size: 1.25rem;
    font-family: "Space Grotesk";
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: none;
}


.text-style-desktop-bw-body-copy {
    font-size: 1.125rem;
    font-family: Space Mono;
    font-weight: 400;
    font-style: normal;
    line-height: 125%;
    text-decoration: none;
    text-transform: none;
}
.text-style-desktop-bw-button {
    font-size: 1.25rem;
    font-family: Space Mono;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: none;
}
.text-style-mobile-titolo-tendina {
    font-size: 1.125rem;
    font-family: "Space Grotesk";
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: none;
}
.text-style-mobile-bw-body-copy {
    font-size: 1rem;
    font-family: Space Mono;
    font-weight: 400;
    font-style: normal;
    line-height: 110%;
    text-decoration: none;
    text-transform: none;
}

.text-style-mobile-bw-button {
    font-size: 1.125rem;
    font-family: Space Mono;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: none;
}

/*ombre*/
.effect-style-default-shadow {
    box-shadow: 4px 4px 0px 0px var(--black-banana);
}
.effect-style-pressed-shadow {
    box-shadow: 2px 2px 0px 0px var(--black-banana);
}
.effect-style-dug-up {
    box-shadow: -2px -10px 10px 0px var(--black-banana);
}
.effect-style-dug-down {
    box-shadow: -2px 10px 10px 0px var(--black-banana);
}
.effect-style-dug-right {
    box-shadow: 10px 0px 10px 0px var(--black-banana);
}
.effect-style-dug-left {
    box-shadow: -10px 0px 10px 0px var(--black-banana);
}
.effect-style-scavato-card-mate-sinistra {
    box-shadow: -10px 0px 10px 0px var(--black-banana);
}
.effect-style-scavato-card-mate-sopra {
    box-shadow: 0px -10px 10px 0px var(--black-banana);
}


/*button genral settings*/
.sl-btn, .sl-btn-bw-white {
    margin: 0 0;
    border: none;
    padding: 8px 10px 8px 14px;
    position: relative;
    text-decoration: none;
}
.sl-btn::after, .sl-btn-bw-white::after {
    transition: all 0.40s cubic-bezier(.48,.47,.68,.67);
    content: '';
    width:  40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    border: solid 1px var(--black-banana);
}
.sl-btn .sl-btn-text, .sl-btn-bw-white .sl-btn-text {
    display: inline-block;
    height: 100%;
    margin-right: 16px;
    vertical-align: top;
    position: relative;
    z-index: 2;
}
.sl-btn .sl-btn-icon, .sl-btn-bw-white .sl-btn-icon{
    height: 100%;
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 2;
}
.sl-btn:hover, .sl-btn-bw-white:hover{
    transform: translateX(4px);
    transform: translatey(-4px);
    transition: all 0.40s cubic-bezier(.48,.47,.68,.67);
}
.sl-btn:hover::after, .sl-btn-bw-white:hover::after{
    box-shadow: 4px 4px 0px var(--black-banana);
    width: 100%;
}
.sl-btn:focus, .sl-btn-bw-white:focus{
    transform: translateX(2px);
    transform: translatey(-2px);
    transition: all 0.40s cubic-bezier(.48,.47,.68,.67);
}
.sl-btn:focus::after, .sl-btn-bw-white:focus::after {
    box-shadow: 2px 2px 0px var(--black-banana);
    width: 100%;
}
/*button bw white*/
.sl-btn-bw-white{
    color: var(--white-avocado);
}
.sl-btn-bw-white::after {
    background: var(--white-avocado);
    transform: skew(-15deg);
    border-radius: 0;
}
.sl-btn-bw-white:hover  {
    color: var(--black-strawberry);
}
/*button orange*/
.sl-btn{
    color: var(--black-strawberry);
}
.sl-btn::after {
    background: var(--orange-kiwi);
    border-radius: 50px;
}
/*button bw black*/
.sl-btn-bw-black{
    color: var(--black-strawberry);
}
.sl-btn-bw-black::after {
    background: var(    --black-strawberry);
    transform: skew(-15deg);
    border-radius: 0;
}
.sl-btn-bw-black:hover  {
    color: var(--white-avocado);
}






/*navbar*/
.navbar{
    height: 80px;
}
.navbar-brand img{
    width: 197px;
    height: 21px;
}
.nav-link {
    font-size: 1.125rem;
    font-family: "Space Grotesk";
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: none;
    color: var(--black-strawberry);
}
.nav-link:hover{
    color: var(--orange-kiwi);
}
.active{
    color: var(--orange-kiwi) !important;
}

/*navbar toggler icon hamburger animation*/
.navbar-toggler{
    border: 0;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none; 
    box-shadow: none;
    border: 0;
}
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: var(--black-strawberry);
    display: block;
    transition: all 0.2s;
}
.middle-bar{
    margin: 5px auto;
}
.navbar-toggler .top-bar{
    transform: rotate(45deg) translatey(-1px);
    transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar{
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler.collapsed .top-bar{
    transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar{
    transform: rotate(0);
}
.navbar-toggler.collapsed .toggler-icon{
    background-color: var(--black-strawberry);
}
/*end toggler icon animation*/

/* Icona del sacchetto */
/* .cart-icon {
    background-image: url("img/icon/Sacchetto-default.svg");
    background-size: 100%;
    background-position: center center;
    width: 30px;
    height: 30px;
    display: flex;
 }
*/

/* cose per cambiare l'icona del carrello in gialla, aspetterei a fare questo perchè vediamo se riusciamo a far si che aggiungendo un item nel carrello questo diventa giallo*/
.cart-toggle-checkbox {
    display: none;
}
.cart-toggle-label {
    cursor: pointer;
}
.cart-toggle-label:last-of-type img {
    display: none;
}
.cart-toggle-checkbox:checked ~ .cart-toggle-label:first-of-type img {
    display: none;
}
.cart-toggle-checkbox:checked ~ .cart-toggle-label:last-of-type img {
    display: block;
}

@media (min-width: 576px) {
        .navbar-brand img{
        width: 320px;
        height: 34px;
    }
    .nav-link {
        font-size: 1.25rem; 
        font-family: "Space Grotesk";
        font-weight: 500;
        font-style: normal;
        line-height: 100%;
        text-decoration: none;
        text-transform: none;
    }
    .toggler-i\con{
        width: 40px;
        height: 4px;
     }
     .middle-bar{
        margin: 7px auto;
     }
     .cart-icon{
        width: 40px;
        height: 40px;
     }
}

@media (min-width: 768px) {
    .navbar-brand img{
        width: 358px;
        height: 38px;
    }
}



/*end navbar*/




/* stepper */

.carousel-indicators .stepper{
    width: 16px;
    height: 12px;
    background-color: transparent;
    background-image: url("img/icon/stepper-nomondo-mobile.svg");
}
.carousel-indicators .stepper.active{
    width: 16px;
    height: 12px;
    background-color: transparent;
    background-image: url("img/icon/stepper-mondo-mobile.svg");
    
}


.carousel-indicators {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}


/*footer*/
.footer-icon{
    width: 40px;
    height: 40px;
}








