.section-sock {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    padding-top: 100px;
}
.section-sock img{
    height: 30vh;
}
@media (min-width: 992px) {
    .section-sock img{
        height: 70vh;
    }
}
.filter {
    border-radius: 8px;
}
.btn-filter {
    width: 50%;
    height: 44px;
    box-sizing: border-box;
    flex: 1 1 calc(50% - 0.5rem);
    border-radius: 8px;
    min-width: 156px
}
.btn-empty {
    height: 0px !important;
    width: 50%;
    flex: 1 1 calc(50% - 0.5rem);
}
.text-width {
    width: 87px;
    text-align: left;
}
.filter-sockslab-active{
    color: var(--white-avocado);
    background-color: var(--black-strawberry);
}
.color-option {
    padding: 8px 16px;
}
.circle-filter {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 0.5px solid var(--black-banana); 
}
.circle-filter-active{
    border: 1px solid var(--white-avocado);
}
.icon-filter-active{
    filter: brightness(0) saturate(100%) invert(84%) sepia(90%) saturate(96%) hue-rotate(307deg) brightness(111%) contrast(96%);
}
@media (min-width: 768px) and (max-width: 991px) {
    .sock-image-mobile {
        width: 280px; 
    }
}
@media (min-width: 992px) {
    .section-sock {
        width: 50%;
        clip-path: none;
        padding-top: 184px;
    }
    .section-filters {
        width: 50%;
        padding: 184px 100px 88px !important;
    }
    .filter {
        width: 80%;
        border-radius: 12px;
        margin: 2rem !important;
    }
    .btn-filter {
        width: 50%;
        height: 48px;
        box-sizing: border-box;
        flex: 1 1 calc(50% - 0.5rem);
        border-radius: 12px;
    }
    .text-width {
        width: 97px;
    }
    .filter-sockslab {
        width: 100%;
        padding-top: 1.75rem !important;
    }
}


/* Carosello */

 .sl-carousel-lab{
     width: 100%;
 }
 /*button carousel*/
.sl-carousel-lab .sl-button-container{
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
}
.sl-carousel-lab .sl-btn-carousel-l,  .sl-carousel-lab .sl-btn-carousel-r{
     position: static;
     opacity: 1;
     padding: 12px 12px 12px 12px;
     background-color: var(--orange-kiwi);
     height: fit-content;
     width: fit-content;
     z-index: 0;
}
.sl-carousel-lab .sl-btn-carousel-l{
     border-radius: 50% 0 0 50%;
     position: absolute;
     top: 50%;
     transform: translateY(-50%) translateX(-96%);

}
.sl-carousel-lab .sl-btn-carousel-r{
     border-radius: 0 50% 50% 0;
     position: absolute;
     transform: translateY(-50%) translateX(100%);
    
}
.sl-carousel-lab .sl-right-button-container  {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-100%);
    
}
 .sl-carousel-lab .carousel-inner:hover .sl-btn-carousel-l{
     transition: translate 1s;
     border-radius: 50%;
     padding: 12px 12px 12px 12px;
     transform: translateY(-50%) translateX(-110%);  
}
.sl-carousel-lab .carousel-inner:hover .sl-btn-carousel-r{
     transition: translate 1s;
     border-radius: 50%;
     padding: 12px 12px 12px 12px;
     transform: translateY(-50%) translateX(114%);
}
 /* end button carousel*/

.sl-carousel-lab .carousel-item .filter{
    margin: 0 !important;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
}
.sl-carousel-lab .carousel-inner{

    overflow: visible;   
 }
.sl-carousel-lab .carousel-item{
        width: 100%;
}
 
/* change transition duration to control the speed of fade effect */
.sl-carousel-lab .carousel-item {
    transition: transform 0.1s ease-in-out;
}
.sl-carousel-lab .carousel-fade .active.carousel-item-start,
.sl-carousel-lab .carousel-fade .active.carousel-item-end {
    transition: opacity 0s 0.1s;
}

/* Popup Feedback */
.item img {
    height: 200px;
}
.popup {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 1055;
    width: 300px; 
    gap: 1.5rem;
    padding: 32px 16px 24px 16px;
    border-radius: 12px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 45, 51, 0.2);
    z-index: 1054;
    display: block; 
}
@media (min-width: 992px) {
    .item img {
        height: 285px;
    }
    .popup {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1055;
        width: 415px; 
        gap: 1.5rem;
        padding-top: 3rem;
        padding-bottom: 1.5rem;
        border-radius: 12px;
    }
}

 