

.sl-container-form {
    
    margin-bottom: 60px;
    
}
.sl-container-form .container {
    padding: 0;    
}
@media (min-width: 576px) {
    .sl-container-form .container {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);    
    }
}


/*tabs*/
.sl-form-nav-tab{
    width: 100%;
    border-radius: 0 0 5px 0;
}

.sl-form-nav-tab .nav-tabs a{
     font-size: 24px;
}
@media (min-width: 420px) {
    .sl-form-nav-tab .nav-tabs a{
        font-size: 32px;
   }
}
@media (min-width: 576px) {
    .sl-form-nav-tab .nav-tabs a{
        font-size: 40px;
   }
}
.sl-form-nav-tab .nav-item{
    border-radius: 5px 5px 0 0;
    width: 50%;
}
@media (min-width: 992px) {
    .sl-form-nav-tab .nav-item{
        width: 300px;
    }
}
.sl-form-nav-tab .tab-resocks .nav-link{
    border-radius: 5px 0 0 0;
    border: 0;
    border-bottom: solid 1px var(--black-banana);
}
.sl-form-nav-tab .tab-collhub .nav-link{
    border: 0;
    border-left: solid 1px var(--black-banana);
    border-bottom: solid 1px var(--black-banana);
    border-radius: 0 5px 0 0;
}
@media (min-width: 992px) {
    .sl-form-nav-tab .tab-collhub .nav-link{
        border-right: solid 1px var(--black-banana);
        border-radius: 0 0 5px 0;   }
}
.sl-form-nav-tab .nav-link.active{
    color: var(--black-strawberry) !important;
}
.sl-form-nav-tab .tab-resocks .nav-link.active{
    background-color: var(--green-peach);
}
.sl-form-nav-tab .tab-collhub .nav-link.active{
    background-color: var(--liliac-tangerine);
}
/*end tabs*/

.sl-form{
    height: fit-content;
    width: 100%;
}
.sl-form input{
    height: 44px;
}
@media (min-width: 992px) {
    .sl-form input{
        width: 344px;
    }
}


















