.container-form {
    margin-top: 60px;
    margin-bottom: 60px;
    height: 1302px;
    width: 390px;
}

@media (min-width: 576px) {
    .container-form {
        margin-top: 88px;
        margin-bottom: 88px;
        height: 724px;
        width: 1276px;
        display: flex;
        flex-direction: row;
    }
}

.nav-item .collhub a {
    font-family: 'brice';
}

.collhub {
    background-color: var(--white-avocado);
}

.resocks {
    background-color: var(--white-avocado);
}

.collhub:active {
    background-color: var(--liliac-tangerine);
    border-radius: 16px 16px 0 0;
}

.resocks:active {
    background-color: var(--green-peach);
    border-radius: 16px 16px 0 0;
}

.sl-form-nav-tab .nav {
    width: 100%;
    border-bottom: 1px solid var(--black-banana);
    border-radius: 0 0 0 8px;
}

@media (min-width: 576px) {
    .sl-form-nav-tab .nav {
        border-radius: 16px 16px 0 0;
    }
}

.sl-form-nav-tab .nav .nav-link:hover {
    border-left: 1px solid var(--black-banana);
    border-top: 1px solid var(--black-banana);
    border-bottom: 1px solid var(--black-banana);
    color: var(--black-strawberry);
}

@media (min-width: 576px) {
    .sl-form-nav-tab .nav .nav-link:hover {
        border-right: 1px solid var(--black-banana);
        border-bottom: 0px solid var(--white-avocado);
    }
}

.sl-form-nav-tab .nav .nav-link {
    border-left: 1px solid var(--black-banana);
    border-bottom: 1px solid var(--black-banana);
    border-top: 1px solid var(--black-banana);
    border-right: 1px solid var(--black-banana);
    /* border-radius: 8px 0px 0px 8px; */
    height: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.sl-form-nav-tab .nav .nav-link:last-child {
    border-bottom: 0;
}

.sl-form-nav-tab .nav .nav-link:last-child:hover {
    border-bottom: 0;
}

@media (min-width: 576px) {
    .sl-form-nav-tab .nav .nav-link {
        border-radius: 16px 16px 0 0;
        width: fit-content;
        border-right: 1px solid var(--black-banana);
        border-bottom: 0px solid var(--black-banana);
    }
}

.sl-form-nav-tab .nav .nav-link.active[href="#Resocks"] {
    background-color: var(--green-peach);
}

.sl-form-nav-tab .nav .nav-link.active[href="#Collhub"] {
    background-color: var(--liliac-tangerine);
}


.sl-form-nav-tab .nav .active {
    border-width: 1px;
    color: var(--black-strawberry) !important;
    border-right: 1px solid var(--black-banana);
}

@media (min-width: 576px) {
    .sl-form-nav-tab .nav .active {
        border-radius: 16px 16px 0 0;
        border-bottom: solid 1px var(--white-avocado);
        border-right: solid 1px var(--black-banana);
    }
}

.sl-form-nav-tab .nav .nav-item {
    width: 50%;
    /* flex-grow: 1; */
}

@media (min-width: 576px) {
    .sl-form-nav-tab .nav .nav-item {
        width: fit-content;
    }
}

.sl-form-nav-tab .tab-content {
    width: 100%;
    border-top: 1px solid var(--black-banana);
    border-right: 1px solid var(--black-banana);
    border-bottom: 1px solid var(--black-banana);
    border-radius: 0px 8px 8px 0px;
    z-index: 1;
}

@media (min-width: 576px) {
    .sl-form-nav-tab .tab-content {
        border-left: 1px solid var(--black-banana);
        border-top: 0px solid var(--black-banana);
        border-radius: 0px 0px 8px 8px;
    }
}

@media (min-width: 576px) {
    .sl-form-nav-tab .tab-content {
        border-radius: 0px 0px 16px 16px;
    }
}

.sl-form-nav-tab .tab-content .tab-pane {
    width: fit-content;
}

.sl-form-nav-tab .tab-content .active {
    display: flex;
}

.sl-form-nav-tab .tab-content h4 {
    width: 100%;
    color: var(--black-strawberry);
}

@media (min-width: 576px) {
    .sl-form-nav-tab .tab-content h4 {
        width: 362px;
    }
}

.sl-form-nav-tab .tab-content p {
    width: 100%;
    color: var(--black-strawberry);
}

@media (min-width: 576px) {
    .sl-form-nav-tab .tab-content p {
        width: 362px;
    }
}

.sl-form-tab-text {
    color: var(--black-strawberry);
}

@media (min-width: 576px) {
    .form-collhub {
        width: 400px;
        height: 560px;
    }

    .sl-form-tab-text {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: auto;
    }

    .text-container {
        width: 561px;
    }
}

.form-collhub {
    width: 358px;
    height: 501px;
    background-color: var(--liliac-tangerine);
    color: var(--black-strawberry);
    border: 1px solid var(--black-banana);
    border-radius: 12px;
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.form-resocks {
    width: 358px;
    height: 501px;
    background-color: var(--green-peach);
    color: var(--black-strawberry);
    border: 1px solid var(--black-banana);
    border-radius: 12px;
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

input[type=text],
input[type=number],
input[type=email],
textarea {
    width: 100%;
    /* padding: 16px; */
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--black-banana);
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=text],
input[type=number],
input[type=email] {
    height: 36px;
}

textarea {
    height: 144px;
}

.sl-btn-static {
    display: flex;
    width: 326px;
    height: 45px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid var(--black-banana);
    background-color: var(--orange-kiwi);
    text-decoration: none;
}

.sl-btn-static:hover {
    color: var(--black-banana);
}


.map {
    height: 800px;
}