.sl-container-form {
    margin-bottom: 60px;  
}
.sl-container-form .container {
    padding: 0;    
}
.sl-container-form .tab-content{
    border-radius: 12px;
}

@media (min-width: 576px) {
    .sl-container-form .container {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);    
    }
}
/*tabs*/
.sl-form-nav-tab{
    width: 100%;
    border-radius: 0 0 12px 0;
}

.sl-form-nav-tab .nav-tabs .nav-link{
     font-size: 24px;
}
@media (min-width: 420px) {
    .sl-form-nav-tab .nav-tabs .nav-link{
        font-size: 32px;
   }
}
@media (min-width: 576px) {
    .sl-form-nav-tab .nav-tabs .nav-link{
        font-size: 40px;
   }
}
.sl-form-nav-tab .nav-item{
    border-radius: 11px 11px 0 0;
    width: 50%;
}
@media (min-width: 992px) {
    .sl-form-nav-tab .nav-item{
        width: 300px;
    }
}
.sl-form-nav-tab .tab-resocks .nav-link{
    border-radius: 11px 0 0 0;
    border: 0;
    border-bottom: solid 1px var(--black-banana);
}
.sl-form-nav-tab .tab-resocks:hover{
    background-color: var(--green-peach);
    border-radius: 11px 0 0 0;
}
.sl-form-nav-tab .tab-collhub:hover{
    background-color: var(--liliac-tangerine);
    border-radius: 0 0 13px 0;
}
.sl-form-nav-tab .tab-resocks:hover .nav-link{
    color: var(--black-strawberry);
    
}
.sl-form-nav-tab .tab-collhub:hover .nav-link{
    color: var(--black-strawberry);
}

.sl-form-nav-tab .tab-collhub .nav-link{
    border: 0;
    border-left: solid 1px var(--black-banana);
    border-bottom: solid 1px var(--black-banana);
    border-radius: 0 11px 0 0;
}
@media (min-width: 992px) {
    .sl-form-nav-tab .tab-collhub .nav-link{
        border-right: solid 1px var(--black-banana);
        border-radius: 0 0 11px 0;   }
}
.sl-form-nav-tab .nav-link.active{
    color: var(--black-strawberry) !important;
}
.sl-form-nav-tab .tab-resocks .nav-link.active{
    background-color: var(--green-peach);
}
.sl-form-nav-tab .tab-collhub .nav-link.active{
    background-color: var(--liliac-tangerine);
}
/*end tabs*/

.sl-form{
    height: fit-content;
    width: 100%;
    border-radius: 12px;
}
.sl-form input{
    height: 44px;
    border-radius: 10px;
}
.sl-form textarea{
    border-radius: 10px;
}
.sl-form-flip{
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 1s ease;
}
@media (min-width: 992px) {
    .sl-form-flip{
        width: 400px;
    }
}
.sl-form-flip.flipped {
    transform: rotateY(180deg);
}
.sl-form-flip .side {
    position: absolute;
    backface-visibility: hidden;
}
.sl-form-flip .back {
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
}
.sl-form-flip .back img{
    width: 180px;
}
.sl-form-flip .back .d-flex{
    flex-grow: 0.5;
}
/*end form section*/

.sl-yellow{
    width: 100%;
    height: 100px;
    background-size: 100% 100%;
}