.sl-product{
    overflow-x: hidden;
}
.section-product-first {
    margin-bottom: 800px;
    height: 519px;
}
.section-product-second{
    margin-bottom: 100px;
}

.section-product-second .aircraft-md, .section-product-second .aircraft-lg, .section-product-second .aircraft-sm{
    transform: rotate(15deg); 
    z-index: 1;
}
.section-product-second .aircraft-light-md, .section-product-second .aircraft-light-lg, .section-product-second .aircraft-light-sm{
    background-color: var(--white-avocado);
    width: 100%;
    z-index: -1;
} 
.wave-product-1{
    width: 100%;
    height: 902px;
    background-image: url(img/product/wave-product-1-mobile.png);
    background-position-y: top;
    background-position-x: left;
    background-size: cover;
    z-index: -1;
}
.section-product-second .aircraft-sm{
    top: 810px;
    width: 240px;
    height: 106px;
    right: 100px;
}
.section-product-second .aircraft-light-sm{
    transform: translateY(-570px);
    top: 1828px;
    height: 2060px;
    right: 100px;
    clip-path: polygon(100% 0, 0 2%, 0 100%);
}
.section-product-second .sl-product-second-p1{
    max-width: 60%;
}
.section-product-second .sl-product-second-p2{
    max-width: 50%;
}
@media (min-width: 576px) {
    .wave-product-1{
        height: 902px;
        background-image: url(img/product/wave-product-1-mobile.png);
        transform: translateY(0);
    }
    .section-product-second .aircraft-sm{
        top: 880px;
        width: 240px;
        height: 106px;
        right: 100px;
    }
    .section-product-second .aircraft-light-sm{
        top: 1828px;
        height: 2060px;
        right: 100px;
        clip-path: polygon(100% 0, 0 2%, 0 100%);
    }
    .section-product-second .sl-product-second-p1{
        max-width: 100%;
    }
    .section-product-second .sl-product-second-p2{
        max-width: 80%;
    }
}
@media (min-width: 768px) {
    .wave-product-1{
        height: 990px;
        background-image: url(img/product/wave-product-1-desktop.png);
        transform: translateY(-160px);
    }
    .section-product-second .aircraft-md{
        top: 660px;
        width: 280px;
        height: 124px;
        right: 20px;
    }
    .section-product-second .aircraft-light-md{
        top: 1260px;
        right: 170px;
        height: 1560px;
        clip-path: polygon(100% 0, 0 4.5%, 0 86%);
    }
    .section-product-second .sl-product-second-p1{
        max-width: 100%;
    }
    .section-product-second .sl-product-second-p2{
        max-width: 80%;
    }
}
@media (min-width: 992px) {
    .wave-product-1{
        background-position: top;
        transform: translateY(-120px);
    }
    .section-product-second .aircraft-lg{
        top: 420px;
        width: 280px;
        height: 124px;
        right: 0px;
    }
    .section-product-second .aircraft-light-lg{
        top: 1180px;
        right: 170px;
        height: 1560px;
        clip-path: polygon(100% 0, 0 5%, 0 70%);
    }
    .section-product-second .sl-product-second-p1{
        max-width: 92%;
    }
    .section-product-second .sl-product-second-p2{
        max-width: 64%;
    }
}
@media (min-width: 1200px) {
    .section-product-second .aircraft-light-lg{
        top: 1200px;
        right: 220px;
        clip-path: polygon(100% 0, 0 5%, 0 74%);
    }
    .section-product-second .aircraft-lg{
        width: 400px;
        height: 149px;
    }
    .section-product-second .sl-product-second-p1{
        max-width: 100%;
    }
    .section-product-second .sl-product-second-p2{
        max-width: 84%;
    }
}
@media (min-width: 1400px) {
    .section-product-second .aircraft-light-lg{
        top: 1220px;
        right: 270px;
        clip-path: polygon(100% 0, 0 5%, 0 64%);
    }
    .section-product-second .aircraft-lg{
        width: 480px;
        height: 179px;
    }
    .section-product-second .sl-product-second-p2{
        max-width: 96%;
    }
    
}

/*start product-material section*/
.sl-product-materials{

    z-index: 4;
}
.sl-product-materials .sl-card-main{
    width: 100%;
    height: 180px;
}
.sl-product-materials .sl-card-scroll-wrapper{
    margin-top: 200p !important;
}
.sl-product-materials .sl-card-scroll{
    width: 100%;
    height: 180px;
    margin-bottom: 300px;
}
.sl-product-materials .row{
    padding-top: 30vh;
    padding-bottom: 80vh;
    gap: 20px;
}
@media (min-width: 768px) {
    .sl-product-materials .sl-card-main{
        width: 80%;
    }
    .sl-product-materials .sl-card-scroll{
        width: 80%;
    }
    .sl-product-materials .row{
        gap: 0;
    }
}
.sl-product-materials .sl-card-scroll h3, .sl-product-materials .sl-card-scroll p{
    width: fit-content;
}
#sl-card-scroll-2{
    transform: translateX(4px);
}
#sl-card-scroll-3{
    transform: translateX(8px);
}
.prova{
    height: 800px;
    background-color: blueviolet;
}


/*end product-material section*/