.section-welcome {
    height: 700px;
    
    background-image: url('img/home/Stars/stars-home-div1.png');
    background-position: center;
    background-size: cover;
    
}

/*
.section-welcome .star-home-welcome{
    background-position: center;
    background-size: contain;
}
.section-welcome .star-home-welcome-sx{
    background-image: url("img/home/Stars/star-home-div1-sx.png");
    
}
.section-welcome .star-home-welcome-dx{
    background-image: url("img/home/Stars/star-home-div1-dx.png");
}
*/
.section-welcome h1{
    padding-top: 200px; /*mettendo la distanza più o meno come su figma, nel mio pc non rimane più al centro dello schermo il titolo*/
    padding-bottom: 54px;
    color: var(--white-avocado);
    text-align: center;
}

/* section what's new */
@media (min-width: 576px) {
    .section-whats-new{
        padding: 5rem 0 !important;
    }
}

.sl-carousel-home{
    padding-top: 2rem;
}
@media (min-width: 576px) {
    .sl-carousel-home{
        /* margin-left: 4.75rem; */
    }
}

.sl-card-collab{
   width: fit-content; 
}
.sl-card-collab img{
    width: 145px;
    height: 204px;
}
@media (min-width: 576px) {
    .sl-card-collab img{
        width: 180px;
        height: 230px;
    }
}
/*button carousel*/
.sl-button_container {
    transform: translateY(+160px);
    width: 350px;
    margin: auto;
}
.sl-btn-carousel-l, .sl-btn-carousel-r{
    opacity: 1;
    padding: 12px 12px 12px 12px;
    border: 2px solid var(--bs-border-color);
    background-color: var(--orange-kiwi);
    height: fit-content;
    width: fit-content;
}
.sl-btn-carousel-l{
    border-radius: 50% 0 0 50%;
    transform: translateX(-35px);
}
.sl-btn-carousel-r{
    border-radius: 0 50% 50% 0;
   transform: translateX(+28px);
}
.sl-carousel-home:hover  .sl-button_container{
    transition: width 0.40s , z-index 1s ;
    width: 400px;
    z-index: 3;
}
.sl-carousel-home:hover .sl-btn-carousel-l {
    border-radius: 50%;
    padding: 12px 12px 12px 12px;
}
.sl-carousel-home:hover .sl-btn-carousel-r{
    border-radius: 50%;
    padding: 12px 12px 12px 12px;
}
/* end button carousel*/

/*end section what's new*/


/* section our socks */
.card-socks{
    height: 350px;
    width: 308px;
    background-image: url('img/home/crateri_arancio_mobile.png');
    background-size: cover; 
}

@media (min-width: 576px) {
    .card-socks{
        height: 412px;
        width: 327px;
        margin-bottom: 2.5rem;

        margin-left: 43px;
        background-image: url('img/home/crateri_arancio.png');
        background-size: cover;
    }
}
.card-socks h3{
    padding-bottom: 2rem;
}
@media (min-width: 576px) {
    .card-socks h3{
        padding-bottom: 2.5rem;
    }
}
.card-socks img{
    width: 145px;
    height: 204px;
}
@media (min-width: 576px) {
    .card-socks img{
        width: auto;
        height: auto;
    }
}

/* section resocks */
.section-resocks {
    height: 500px;
    padding-left: 16px;
    /* background-image: url('img/home/Stars/star-home-resocks-mobile.png'); queste sono le stelle che dovrebbero apparire solo nel mobile*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-resocks h2 {
    color: var(--white-avocado);
    text-align: left;
    padding-bottom: 1.5rem;
}

.section-resocks h4 {
    color: var(--white-avocado);
    text-align: left;
    padding-bottom: 1rem;
}

.section-resocks .text-style-body-copy {
    color: var(--white-avocado);
    text-align: left;
    padding-bottom: 1.5rem;
}

/* ci sono da sistemare le stelline e il bottone che rimane centrale, ma non riesco a trovare il punto in cui dargli l'allineamento a sinistra */
@media (min-width: 576px) {
    .section-resocks {
        height: 1000px;
        padding-left: 82px;
    }
    .section-resocks h2 {
        padding-bottom: 2rem;
    }
    .stars {
        height: 500px;
        background-image: url('img/home/Stars/star-home-resocks.png');
        background-position: center;
        background-size: cover;
    }
}


